body {
background: #ccc;
margin-top: 100px;
} 
.container{
	 width: 100%;
	 max-width: 1170px;
	 margin: 0 auto;
 }
 .container h1{
	 width: 100%;
	 text-align: center;
	 padding: 2%;
	 font-size: 4vh;
 }
header.container{
	 padding: 2% 0;
	 background: white;
	 text-align: center;
 }
 article {
 	overflow: hidden;
 }
 .grilla1, .grilla2 {
 	float: left;
 }
 .grilla1{
	 width: 60%;
	 display: inline-block;
	 padding: 2%;
	 box-sizing: border-box;
	 }
 .grilla2{
	 width: 40%;
	 display: inline-block;
	 padding: 2%;
	 box-sizing: border-box;
	 }

 img{
 width: 12%;
 }
 p{
 font-size: 1.8vh;
 }

main {
	background: white;
}
	@media (max-width: 480px) {
	 .grilla{
	 width: 100%;
		 }
	 }